<style media="screen">
</style>

<div ng-controller="alterarSenhaCtrl" class="page-flexbox-wrapper admin">

    <!-- Header -->
    <header>
        <tn-sidenav selected="senhas" usuario-logado="usuarioLogado"></tn-sidenav>
    </header>

    <!-- Main -->
    <main>
        <br>
        <div class="container">
            <div class="row">
                <div class="col s12 m12 l12">
					<h5>Alterar Senha</h5>
					<hr>
					<span>Recomendamos que altere sua senha caso ainda estiver com a senha padrão do sistema, para evitar imprevistos.</span>
					<br><br>
                    <form ng-submit="alterarSenha(usuario)">
                        <div class="input-field">
                            <input id="senhaAtual" type="password" class="validate" ng-model="usuario.senhaAtual" minlength="8" placeholder="Informe sua senha atual" required>
                            <label for="senhaAtual">Senha Atual</label>
                        </div>
                        <div class="input-field">
                            <input id="novaSenha" type="password" class="validate" ng-model="usuario.senha" minlength="8" placeholder="Informe a nova senha" required>
                            <label for="novaSenha">Nova Senha</label>
                        </div>
                        <div class="input-field">
                            <input id="confSenha" type="password" class="validate" ng-model="usuario.confSenha" minlength="8" placeholder="Confirme sua nova senha" required>
                            <label for="confSenha">Confirmar Senha</label>
                        </div>
                        <button href="" class="btn waves-effect">Alterar</button>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <!-- Footes -->
    <tn-footer></tn-footer>
	
</div>
<script type="text/javascript">
$(document).ready(function() {
    $('select').material_select();
	$('#novaSenha').focus();
	$('#confSenha').focus();
    $('#senhaAtual').focus();
    $(".button-collapse").sideNav();
    $('.button-collapse').sideNav('hide');
    $(".dropdown-button").dropdown();
});
</script>
