<div ng-controller="calendarioCtrl" class="page-flexbox-wrapper">

    <!-- Header -->
    <header>
        <tn-nav selected="calendario"></tn-nav>
    </header>

    <!-- Main -->
    <main>
        <div class="container" style="padding-top: 50px">
            <div class="row">
                <div class="col s12 m12 l12">
                    <img class="materialboxed" src="resources/CalendarioLiberacao.JPG" height="526px" width="850px">
                </div>
			</div>	
			<div class="row">
				<div class="col s12 m12 l12">
                    <img class="materialboxed" src="resources/CalendarioLiberacao2017-1.JPG" height="526px" width="850px">
                </div>
            </div>
        </div>        
    </main>

    <!-- Footer -->
    <tn-footer></tn-footer>
</div>

<script type="text/javascript">
$(document).ready(function() {
    $('#pesquisa').focus();
    $(".button-collapse").sideNav();
    $('.button-collapse').sideNav('hide');
    $('select').material_select();
    $('.tooltipped').tooltip({delay: 50});
    $('.materialboxed').materialbox();
});
</script>