<script type="text/javascript">
$(document).ready(function() {
    $('#senha').focus();
    $('#email').focus();
    $(".button-collapse").sideNav();
    $('.button-collapse').sideNav('hide');
    $('.tooltipped').tooltip({delay: 50});
});
</script>
<div ng-controller="loginCtrl" class="page-flexbox-wrapper">

    <!-- Header -->
    <header>
        <nav>
            <div class="nav-wrapper teal">
                <div class="container">
                    <ul class="left">
                        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                        <a href="#/home" class="brand-logo light">TecNews</a>
                    </ul>

                    <ul class="right hide-on-med-and-down">
                        <li><a href="#/home">Home</a></li>
                        <li><a href="#/email">Email</a></li>
                        <li class="active"><a href="#/login">Login</a></li>
                    </ul>
                    <ul class="side-nav" id="mobile-demo">
                        <li>
                            <div class="userView">
                                <img class="background" src="resources/teal-bk.png">
                                <a href=""><img class="circle" src="resources/keyboard.png"></a>
                                <a href=""><span class="white-text name">TecNews</span></a>
                                <a href=""><span class="white-text email">Noticias da Tecnologia Senior Sistemas</span></a>
                            </div>
                        </li>
                        <li><a href="#/home" class="waves-effect">Home</a></li>
                        <li><a href="#/email" class="waves-effect">Email</a></li>
                        <li class="active"><a href="#/login" class="waves-effect">Login</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <form name="formulario" ng-submit="logar(usuario)">
            <div class="container">
                <div class="row">
                    <div class="col s12 m10 l10 offset-m1 offset-l1">
                        <div class="card horizontal">
                            <!-- Card -->
                            <div class="card-stacked">
                                <div class="card-content">
                                    <h4 class="light">Login</h4>
                                    <br>
                                    <div class="input-field">
                                        <input id="email" type="email" name="email" class="validate" ng-model="usuario.email" required>
                                        <label for="email" data-error="E-mail inválido">E-mail</label>
                                    </div>
                                    <div class="input-field">
                                        <input id="senha" type="password" name="senha" class="validate" ng-model="usuario.senha" minlength="8" required>
                                        <label for="senha" data-error="A senha deve ter no mínimo 8 caracteres">Senha</label>
                                    </div>
                                </div>
                                <div class="card-action">
                                    <button type="submit" class="btn-flat teal-text waves-effect waves-teal">Logar</button>
                                    <a href="#/registro" class="right teal-text btn-flat teal-text waves-effect waves-teal">Registre-se</a>
                                </div>
                            </div>
                            <!-- /Card -->

                        </div>
                    </div>
                </div>
            </div>
        </form>
    </main>

    <!-- Footes -->
    <footer class="page-footer teal">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">TecNews</h5>
                    <p class="grey-text text-lighten-4">
                        Fique por dentro de todas as notícias da Tecnologia da Senior.
                        Queremos disponibilizar a vocês uma fonte centralizada de informações como Liberações para Mercado,
                        Produto, e muito mais. Participem!
                    </p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="http://www.senior.com.br/">Senior Sistemas</a></li>
                        <li><a class="grey-text text-lighten-3" href="http://www.materializecss.com/">Materialize Css</a></li>
                        <li><a class="grey-text text-lighten-3" href="http://documentacao.senior.com.br/">Documentação Senior</a></li>
                        <li><a class="grey-text text-lighten-3" href="#/reportar">Reporte um Erro/Sugestão</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2016 Copyright - Vinícius Reif - Bruno Souza
            </div>
        </div>
    </footer>

</div>
