<script type="text/javascript">
$(document).ready(function() {
    $(".button-collapse").sideNav();
    $('.button-collapse').sideNav('hide');
});
</script>
<div ng-controller="publicacaoCtrl" class="page-flexbox-wrapper">

    <!-- Header -->
    <header>
        <nav class="nav-wrapper teal">
            <div class="container">
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <a href="#/home" class="brand-logo">TecNews</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="#/home">Home</a></li>
                    <li><a href="#/login">Login</a></li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li>
                        <div class="userView">
                            <img class="background" src="resources/teal-bk.png">
                            <a href=""><img class="circle" src="resources/keyboard.png"></a>
                            <a href=""><span class="white-text name">TecNews</span></a>
                            <a href=""><span class="white-text email">Notícias da Tecnologia Senior Sistemas</span></a>
                        </div>
                    </li>
                    <li><a href="#/home">Home</a></li>
                    <li><a href="#/login">Login</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <!-- Main -->
    <main>
        <br>
        <div class="container">
            <div class="row">

                <!-- Cards -->
                <div class="card">

                    <div class="card-content">

                        <div class="chip">
                            <img src="resources/{{publicacao.tipo}}.jpg" alt="Contact Person">
                            {{publicacao.tipo}}
                        </div>

                        <h5>{{publicacao.titulo}}</h5>
                        {{publicacao.conteudo}}
                        <br><br>
                        <b>Tags:</b>
                        <div class="chip" ng-repeat="tag in tags">
                            {{tag}}
                        </div>
                    </div>
                    <div class="card-action">
                        <a href="#/home" class="red-text">Voltar</a>
                        <span class="right teal-text text-lighten-2">{{publicacao.data}}</span>
                    </div>
                </div>
                <!-- /Cards -->

            </div>
        </div>
    </main>

    <!-- Footes -->
    <footer class="page-footer teal">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">TecNews</h5>
                    <p class="grey-text text-lighten-4">
                        Fique por dentro de todas as notícias da Tecnologia da Senior.
                        Queremos disponibilizar a vocês uma fonte centralizada de informações como Liberações para Mercado,
                        Produto, e muito mais. Participem!
                    </p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="http://www.senior.com.br/">Senior Sistemas</a></li>
                        <li><a class="grey-text text-lighten-3" href="http://www.materializecss.com/">Materialize Css</a></li>
                        <li><a class="grey-text text-lighten-3" href="http://documentacao.senior.com.br/">Documentação Senior</a></li>
                        <li><a class="grey-text text-lighten-3" href="#/reportar">Reporte um Erro/Sugestão</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2016 Copyright - Vinícius Reif - Bruno Souza
            </div>
        </div>
    </footer>
</div>
