<script type="text/javascript">
$(document).ready(function() {
    $('#senha').focus();
    $('#confsenha').focus();
    $('#email').focus();
    $(".button-collapse").sideNav();
    $('.button-collapse').sideNav('hide');
});
</script>
<div ng-controller="registroCtrl" class="page-flexbox-wrapper">

    <!-- Header -->
    <header class="no-select">
        <tn-nav selected="login"></tn-nav>
    </header>

    <main>
        <form name="formulario" ng-submit="enviar()">
            <div class="container">
                <div class="row">
                    <div class="col s12 m8 l8 offset-m2 offset-l2">
                        <br>
                        <h5 class="light">Registro</h5>
                        <p>
                            Para realizar o registro é necessária a abertura de uma solicitação inserindo seu e-mail no campo abaixo. Após clicar em
                            enviar, a solicitação será encaminhada para o administrador, será analisada e você receberá seus
                            dados de acesso.
                        </p>

                        <br>
                        <div class="input-field">
                            <input id="email" type="email" name="email" class="validate" ng-model="email" required>
                            <label for="email" data-error="E-mail inválido">E-mail</label>
                        </div>

                        <button type="submit" class="waves-effect waves-teal btn-flat teal-text">Enviar</button>
                        <a href="#/login" class="waves-effect waves-red btn-flat right red-text">Cancelar</a>

                    </div>
                </div>
            </div>
        </form>
    </main>

    <!-- Footes -->
    <tn-footer></tn-footer>

</div>