<script type="text/javascript">
$(document).ready(function() {
    $('#texto').focus();
    $(".button-collapse").sideNav();
    $('.button-collapse').sideNav('hide');
    $('#texto').characterCounter();
});
</script>
<div class="page-flexbox-wrapper">

    <!-- Header -->
    <header>
        <tn-nav selected="nothing"></tn-nav>
    </header>

    <main>
        <form name="form">
            <div class="container">
                <div class="row">
                    <div class="col s12 m10 l10 offset-m1 offset-l1">
                        <div class="card horizontal">
                            <div class="card-image hide-on-small-only">
                                <img src="resources/Ajustes.jpg" width="350px" height="350px" alt="Error" />
                                <span class="card-title">TecNews</span>
                            </div>

                            <!-- Card -->
                            <div class="card-stacked">
                                <div class="card-content">
                                    <h5>Reporte Erro/Sugestão</h5>
                                    <br>
                                    <div class="input-field">
                                        <textarea id="texto" type="text" name="texto" length="200" maxlength="200" class="materialize-textarea" required></textarea>
                                        <label for="texto">Erro/Sugestão</label>
                                    </div>
                                </div>
                                <div class="card-action">
                                    <button type="submit" class="waves-effect waves-teal btn-flat teal-text">Enviar</button>
                                    <a href="#/home" class="right btn-flat red-text waves-effect waves-red">Cancelar</a>
                                </div>
                            </div>
                            <!-- /Card -->

                        </div>
                    </div>
                </div>
            </div>
        </form>
    </main>

    <!-- Footes -->
    <tn-footer></tn-footer>

</div>
