<div ng-controller="usuariosCtrl" class="page-flexbox-wrapper admin">

    <!-- Header -->
    <header>
        <tn-sidenav selected="usuarios" usuario-logado="usuarioLogado"></tn-sidenav>
    </header>

    <!-- Main -->
    <main>
        <br>
        <div class="container">
            <h5 class="light">Usuários</h5>
            <hr>
			<span>Autorize solicitações de entrada de usuários ao Admin. A senha padrão utilizada é <b>12345678</b>, e a mesma deve ser alterada pelo próprio usuário.</span>
            <br>
            <div class="row">
                <div class="col s12 m12 l12">
                    <br>
                    <div class="input-field">
                        <input id="pesquisa" ng-model="pesquisa" placeholder="Email" type="text" class="validate">
                        <label for="pesquisa">Pesquisar</label>
                    </div>

                    <br>

                    <table>
                        <thead>
                            <tr>
                                <td>Email</td>
                                <td class="center">Ações</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="usuario in usuarios | filter: pesquisa">
                                <td>{{usuario.email}}</td>
                                <td><a href="" class="green-text tooltipped" ng-click="autorizar(usuario, $index)" data-position="buttom" data-tooltip="Aceitar"><i class="close material-icons">done</i></a></td>
                                <td><a href="" class="red-text tooltipped" ng-click="rejeitar(usuario)" data-position="buttom" data-tooltip="Rejeitar"><i class="close material-icons">close</i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>

    <!-- Footes -->
    <tn-footer></tn-footer>
</div>
<script type="text/javascript">
$(document).ready(function() {
    $('select').material_select();
    $('#pesquisa').focus();
    $(".button-collapse").sideNav();
    $('.button-collapse').sideNav('hide');
    $(".dropdown-button").dropdown();
    $('.tooltipped').tooltip({delay: 50});
});
</script>
