<footer class="page-footer teal">
	<div class="container">
		<div class="row">
			<div class="col l6 s12">
				<h5 class="white-text">TecNews</h5>
				<p class="grey-text text-lighten-4">
					Fique por dentro de todas as notícias da Tecnologia da Senior.
					Queremos disponibilizar a vocês uma fonte centralizada de informações como Liberações para Mercado,
					Produto, e muito mais. Participem!
				</p>
			</div>
			<div class="col l4 offset-l2 s12">
				<h5 class="white-text">Links</h5>
				<ul>
					<li><a class="grey-text text-lighten-3 underline" href="http://www.senior.com.br/">Senior Sistemas</a></li>
					<li><a class="grey-text text-lighten-3 underline" href="http://www.materializecss.com/">Materialize Css</a></li>
					<li><a class="grey-text text-lighten-3 underline" href="http://documentacao.senior.com.br/">Documentação Senior</a></li>
					<li><a class="grey-text text-lighten-3 underline" href="#/reportar">Reporte um Erro/Sugestão</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			© 2016 Copyright - Vinícius Reif - Bruno Souza
		</div>
	</div>
</footer>
